<div class="span8">
	<h2>Signing in is Easy and Secure</h2>
</div>

<div class="row">
	<div class="span4">
		<%= simple_form_for(resource,
		:as => resource_name,
		:url => session_path(resource_name),
		html: {class: "well"} ) do |f| %>

		<fieldset>
			<legend>
				Sign in

			</legend>

			<%= f.input :email, :autofocus => true %>
			<%= f.input :password %>

			<% if devise_mapping.rememberable? -%>
			<%= f.input :remember_me, as: :boolean %>
			<% end -%>

			<div>
				<%= f.button :submit, "Sign in" %>
			</div>
		</fieldset>
		<% end %>
	</div>

	<div class="span4">
		<%= simple_form_for(resource,
		:as => resource_name,
		:url => session_path(resource_name),
		html: {class: "well"} ) do |f| %>

		<fieldset>
			<legend>
				Don't have an account ? Login!!!
			</legend>
			<% 
			# <%= render "devise/shared/links" 
			%>
			<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
			  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
			<% end -%>

		</fieldset>
		<% end %>
		<div >
		<%= simple_form_for(resource,
		:as => resource_name,
		:url => session_path(resource_name),
		html: {class: "well"} ) do |f| %>

		<fieldset>
			<legend>
				Need help
			</legend>
			<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
			  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
			<% end -%>

		</fieldset>
		<% end %>
	</div>
	</div>
	
</div>
