<!DOCTYPE html>
<html>
	<head>
		<title>Jesus' Treebook</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div class="navbar  navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">

					<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>

					<!-- Be sure to leave the brand out there if you want it shown -->
					<a class="brand" href="/">Tree House Statuses Project</a>

					<!-- Everything you want hidden at 940px or less, place within here -->
					<div class="nav-collapse collapse">
						<!-- .nav, .navbar-search, .navbar-form, etc -->
					<%= link_to "All Statuses", statuses_path, class: "nav" %>
					<%= link_to 'New Status', new_status_path, class: "nav" %>
					</div>

				</div>
			</div>
		</div>

		<div class="container">
			<%= yield %>
			<div>
				Footer
			</div>
		</div>

	</body>
</html>
